.cart{
    background-color: white;
    width: 30vw;
    height: 60vh;
    position: absolute;
    top: 70px;
    right: 30px;
    overflow: scroll;
    text-align: center;
}

.Header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.50rem;
}

.cartName{
    text-align: center;
    font-size: 2rem;
}

.X{
    position: absolute;
    right: 20px;
    margin-top: 1rem;
}

.purchase{
    margin-top: 20px;
}
