.productContainer{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.products{
    width: 35%;
    padding: 15px;
    margin: 12px;
    display: flex;
    flex-direction: column;
  
}